[user]
   name = Uthpala Herath
   email = uthpala.herath@duke.edu

[diff]
   tool = vimdiff
   prompt = false

[alias]
dirdiff = difftool --ignore-submodules --dir-diff --symlinks --tool=myvimdirdiff
[difftool "myvimdirdiff"]
cmd = vim -f '+let g:gruvbox_contrast=\"soft\"' '+colorscheme gruvbox' '+next' '+execute \"ZFDirDiff\"  argv(0) argv(1)' $LOCAL $REMOTE

[merge]
   tool = diffconflicts
   prompt = false
   conflictstyle = diff3
[mergetool "diffconflicts"]
   cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
   trustExitCode = true
[mergetool]
   keepBackup = false

[submodule]
	recurse = true
[oh-my-zsh]
    hide-status = 1
    hide-dirty = 1
